<div class="course-card" 
  [ngClass]="cardClasses()">
  
  
  
  <div class="course-title" [ngStyle]="{'text-decoration': 'underline'}">
      {{ index }} {{ course.description }}
  </div>

  <ng-template #blankImage>

    <p class="warn">No image is available yet</p>
    <img src="assets/empty-image.png">
  </ng-template>
  
  <ng-content select="course-image" *ngIf="course.iconUrl; else blankImage"></ng-content>
    
  

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <div class="course-category">
    @switch (course.category) {
      @case ('BEGINNER') {
        <div class="category">Beginner</div>
      }

      @case ('INTERMEDIATE') {
        <div class="category">Intermediate</div>
      }

      @case ('ADVANCED') {
        <div class="category">Advanced</div>
      }

      @default {
         <div class="category">Unknown</div>
      }
    }
  </div>

  <button (click)="onCourseViewed()">View course</button>
</div>
